<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
<meta charset="utf-8" />
<link href="css/bootstrap.min.css" rel="stylesheet" />
<style type="text/css">
ul>li, a {
	cursor: pointer;
}
</style>
<title>Pet Store</title>
</head>
<body>
	<div class="navbar navbar-default" id="navbar">
		<div class="container" id="navbar-container">
			<div class="navbar-header">S&eacute;bastien De Santis</div>
			<!-- /.navbar-header -->
			<div class="navbar-header pull-right" role="navigation">
				<a href="http://www.sfeir.com/"> <img
					src="/fonts/logo-sfeir-noir.svg" alt="" class="logo-svg" />
				</a>
			</div>
		</div>
	</div>


	<div>
		<div class="container">
			<br />
			<blockquote>
				<h4>Pet Store Application Spring Rest / Angular / Mysql</h4>
			</blockquote>
			<div class="alert alert-danger" ng-show="alert_raised" role="alert">
				<span ng-bind="alert_text"></span>
			</div>
			<br />
			<div ng-view="" id="ng-view"></div>
			<a href="#/pet-add">Add Pet</a> <br /> <a href="#/pet-list">Pet
				List</a>
		</div>
	</div>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	<script src="app/app.js"></script>

</body>
</html>