<div id="add-pet-panel" class="fadein fadeout addpanel panel" ng-hide="toggle">
		<div class="panel-heading">
			<i class="panel-title-icon fa fa-plus"></i>
			<span class="panel-title">Add Task</span>
			<div class="panel-heading-controls">
				<button ng-click="toggle = !toggle" class="btn-panel">Show All Pets</button>
			</div>
		</div>
		<div class="panel-body">
			<div class="pet" >
				<table class="add-pet">
					<tr>
						<td>Pet Name:</td>
						<td><input type="text" ng-model="Name"/></td>
					</tr>
					<tr>
						<td>Pet Status:</td>
						<td>
							<select ng-model="Status" ng-options="status as status for status in statuses">
								<option value="">Select</option>						
						     	</select>
						</td>
					</tr>
					<tr>
						<td>Pet Category:</td>
						<td>
							<select ng-model="Category" ng-options="category as category for category in categories">
								<option value="">Select</option>
							</select>
						</td>
					</tr>
					<tr>
						<td><br/><button ng-click="addPet()" class="btn-panel-big">Add New Pet</button></td>
					</tr>
				</table>								
			</div>
		</div>
	</div>